<h1>Register</h1>

<form action="/register" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" require>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" require>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" require>
    </div>

    <button type="submit">Register</button>
    <a href="/login"><button type="button">To Login</button></a>


</form>